body{
    margin: 0;
    font-family: 'Merriweather', serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color: dimgray;
}
.orange-highlight{
    color: orangered;
}
.pink-highlight{
    color: chartreuse;
    background-color: rgb(34, 41, 40);
    padding: 10px 20px;
    border-radius: 5px;
}
.black-highlight{
    color: firebrick;
    background-color: rgb(95, 102, 101);
    padding: 10px 20px;
    border-radius: 5px;
}
.green-highlight{
    color:rgba(65, 28, 1, 0.596)
    background-color: turquoise;
    padding: 10px 20px;
    border-radius: 5px;
}
.green-highlight{
    color: darkorchid;
    background-color: rgb(4, 14, 13);
    padding: 10px 20px;
    border-radius: 5px;
}
.caffe-highlight{
    color:white;
    background-color: rgb(21, 31, 30);
    padding: 10px 20px;
    border-radius: 5px;
}
.blue-highlight{
    color: rgb(22, 167, 9);
    background-color: rgb(1, 12, 11);
    padding: 10px 20px;
    border-radius: 5px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    clear:both;
}
.link-button{
    text-decoration-color: none;
    background-image: -o-linear-gradient(lightSamon, tomato);
    background-color: turquoise;
    padding: 10px 20px;
    border-radius: 5px;
    color: royalblue;
    font-weight: 700;
}
.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat:no-repeat;
    background-position: right;
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 60%;
}
.experiences-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
.exerience-part{
border-top:6px;  
margin: 0 auto;  
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,lightSalmon, tomato);
    border-image-slice: 1;
}
#Baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
#full-me{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
    width: 70;
    margin: 0 auto;
   
   
    
}
footer p{
    text-align: center;
    font-size: 12px;
    color:blueviolet;
}
.experiences-part div{
    overflow: hidden;
    margin: 0%;
}
.happy{
    text-align: center;
}